<h1>Cocktails list :</h1>

<%= link_to "Add a cocktail", new_cocktail_path , {class: "btn btn-primary"} %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4 card">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=cocktail.photo%>);">
        <h3><%= cocktail.name %></h3>
        <p><%= link_to '', cocktail_path(cocktail), class:"card-link" %></p>
          <%= link_to cocktail_path(cocktail) do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>






